$white: rgb(255, 255, 255);
$dkgray: rgb(46, 46, 46);
$mdgray: rgb(204, 204, 204);
$ltgray: rgb(249, 249, 249);
$purple: rgb(107, 79, 187);
$dkpurple: rgb(56, 13, 117);
$redorange: rgb(219, 59, 33);
$dkredorange: rgb(192, 52, 29);
