html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: $dkgray;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1;

  @include md {
   font-size: 4.6rem;
  }
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 125%;
}

h4 {
  font-size: 2.3rem;
  margin-bottom: .5rem;
}

h1,
h2 {
  font-weight: 300;
}

h2,
h3,
h4,
p {
  font-weight: 400;
  margin-top: 0;
}

a,
.datetime {
  @include trans(.25s ease-in-out);
  color: $purple;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $dkpurple;
  }
}

// Form Styles

input,
label,
select {
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  width: 100%;
}

input {
  appearance: none;
  border: 1px solid $dkgray;
  box-sizing: border-box;
  font-size: 1.4rem;
  max-width: 100%;
  padding: 3%;

  &:focus {
    border: 1px solid $purple;
    box-shadow: 0 0 10px $purple;
    outline: none;
  }

  &:focus:required:invalid {
    border-color: $redorange;
  }
}

select {
  font-size: 1.4rem;

  &:focus {
    border: 1px solid $purple;
    box-shadow: 0 0 10px $purple;
    outline: none;
 }
}

label {
  display: inline-block;
  margin: 2rem 0 0;

  &:first-child {
    margin: 0;
  }
}

.asterisk {
  color: $redorange;
}

// Countdown Styles

#countdown {
  font-weight: bold;
}

.cal-icon {
  margin: .5rem .5rem 0 0;
  vertical-align: top;
}

// Font Styles

.small {
  font-size: 1.4rem;
}

.content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 3rem;
}

.button {

  @include trans(.25s ease-in-out);
  background: $redorange;
  border-radius: 3px;
  color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  max-width: 250px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: $dkgray 1px 0 2px;
  width: 100%;

  &:hover {
    background: $dkredorange;
    color: $white;
  }
}

.rfloat {
  float: right;
}

.lfloat {
  float: left;
}

.cf {
  zoom: 1;

  &::after {
    clear: both;
    content: '';
    display: table;
   }
}
