// Mixin to transition links
@mixin trans($val) {
  transition: $val;
}

// Mobile devices (599px)
@mixin xsm { @media (max-width: 599px) { @content } }

// Small devices (tablet portrait)
@mixin sm { @media (min-width: 600px) { @content } }

// Medium devices (tablet landscape, small desktop)
@mixin md { @media (min-width: 900px) { @content } }

// Large devices (large desktops, 1200px and up)
@mixin lg { @media (min-width: 1200px) { @content } }


@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
