@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i');
@import 'colors';
@import 'mixins';
@import 'global';

//Header Styles

.logo {
  padding: .25rem;
  width: 120px;
}

.h1bg {
  background: url('../images/header-image.jpg') 0 0 $dkgray;
  color: $white;

  .content {
    padding: 3rem;
  }

  .button {
    animation: fadein .5s ease-in;
    max-width: 250px;
    opacity: 1;

    @include md {
      display: none;
    }
  }
}

//Form Styles

form {
  width: 100%;

  .submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    height: auto;
    margin: 3rem 0 0;
    max-width: 100%;

    @include md {
      max-width: 250px;
    }
  }
}

//Content Styles

section {
  margin: 7rem 0;
  padding: 0;
  width: auto;

  @include md {
    float: left;
    max-width: 45%;
    width: 100%;

    &:first-child {
      border-right: 1px solid $mdgray;
      margin-bottom: 7rem;
      padding-right: 4%;
    }

    &:nth-child(2) {
      margin-top: 7rem;
      padding-left: 4%;
    }
 }

  @include lg {
    &:first-child {
      padding-left: 0;
    }

    &:nth-child(2) {
      padding-right: 0;
    }
  }
}

//Footer Styles

footer {

  .prefooter {
    background: $ltgray;
    padding: 2rem 0 0;

    @include md {
      padding: 5rem 0;
    }

    .content {
      border-bottom: 1px solid $mdgray;
      max-width: 800px;
      padding: 3rem;
    }

    .bio-content {
      clear: both;
      float: none;
      padding: 1rem 0 0;

      @include sm {
        clear: none;
        float: left;
        margin: 2rem 0 0 2rem;
      }
    }

    .bio-img {
      width: 100px;
    }

    .bio-container {
      border: 0;
    }
 }

  .copyright {
    background: $purple;
    color: $white;
    padding: 1rem 0;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
